.header {
    border-bottom: 1px solid #ccc;
}

.nav {
    display: flex;
}

.nav-item {
    padding: 20px 30px;
    text-decoration: none;
    color: #2F6EA5;
    transition: .1s background-color ease-in;
}

.nav-item:hover {
    background-color: #DDE1E3;
} 

.active-nav {
    background-color: #DDE1E3;
}

@media (max-width: 500px) {
    .nav-item {
        padding: 15px 20px;
    }
}

@media (max-width: 420px) {
    .nav {
        flex-direction: column;
    }
}